<?xml version="1.0"?>
<configuration>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <appSettings>
    
      <!-- Prog rozpoznawania mowy -->
      <add key="CONFIDENCE_THRESHOLD" value="0,85"/>

      <!-- Flaga sterujaca dzwiekiem w jablkach -->
      <add key="PLAY_PICKING_APPLE_SOUND" value="false"/>
    
  </appSettings>
  
</configuration>
